<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/login.css">
    <!-- <script type="text/javascript" src="./public/js/login.js" defer></script> -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">   
<title>Jump into Bedflix</title>
</head>

<body class="body-login">
    <header class="header-login">
        <!-- <img src="../../public/assets/img_login/bedflix.png"> -->
        <!-- <img src=""> -->
        <!-- <img class="adrar-classrooms-img" src="{{asset ("assets/img_login/bedflix.png")}}"
            alt="Image" width="200" height="150"> -->
    </header>

    <div class="login-zone">
        <!-- formulaire  
        S'identifier 
        email input 
        password input
        id button
        -->
        <form method="POST" action="login.php">
            <div class="login-title">S'identifier</div>
            <div>

                <input type="email" placeholder="Email" required />
            </div>
            <div>
                <input type="password" placeholder="Mot de passe " required />
            </div>
            <div>
                <button class="login-button">S'identifier</button>
            </div>
            <div class="remember">
                <input type="checkbox" id="remember" name="remember" checked />
                <label for="remember">Se souvenir de moi</label>
                <!-- TODO : relier à la page d'aide -->
                <a href="">Besoin d'aide?</a>
            </div>
            <div class="login-visit">
                <div>
                    Première visite sur Netflix ?

                    <!-- Todo : relier à page inscription -->
                    <a href="">Inscrivez-vous. </a>
                </div>
                <div>
                    Cette page est protégée par Google reCAPTCHA
                    pour nous assurer que vous n'êtes plus un robot.
                </div>
                <div>
                    <!-- TODO : relier à une page "en savoir plus" -->
                    <a href="">En savoir plus </a>
                </div>
            </div>
        </form>
    </div>

    <footer>
        <div>
            Des questions ? Appelez le (+33) **** - *** - ***
        </div>

        <div class="services">
            <div>
                <a>FAQ</a>
                <a>Centre d'aide</a>
                <a>Boutique Netflix</a>
                <a>Conditions d'utilisation</a>
            </div>
            <div>
                <a>Confidentialité</a>
                <a>Préférences de cookies</a>
                <a>Mentions légales</a>
                <a>Choix liés à la pub</a>
            </div>
            <div class="language-select">
                <label for="language-select"></label>

                <select id="language-select">
                    <option value="french">※ Français</option>
                </select>

            </div>
        </div>
    </footer>
</body>

</html>