* {
    font-family: 'Roboto';
    font-style: normal;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(180, 180, 173, 0.5)),
        url("../../public/assets/img_login/Landscapes.png");
    font-family: 'Roboto';
    font-style: normal;
}




.login-zone {
    background-color: rgba(0, 0, 0, 0.5);
    /* Couleur noire avec une transparence de 70% */
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* left: 0;
    right: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Mettre au 1er plan */
    z-index: 1;
    /* width: 1em; */
}




/* form {
    background-color: #fff;
    /* Couleur de fond du formulaire */
/* padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
/* Ombre pour le formulaire */
/* text-align: center;
} */


@media only screen and (min-width:360px) {
    .login-button {
        max-width: 100%;
        width: 100%;
        /* color: white;
        background-color: red;
        font-weight: bold; */
        /*  
    
    padding: 2%;
    border-radius: 10%; */
    }
}

/* Style de la zone noire semi-transparente */
.login-zone {
    background-color: rgba(0, 0, 0, 0.9);
    /* Couleur noire avec une opacité de 0,5 (50%) */
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    color:white;
    /* Assurez-vous que la zone est en premier plan */
}